@font-face {
  font-family: "SpaceMono";
  src: url(../fonts/SpaceMono-Regular.ttf);
}
@font-face {
  font-family: "PerkyDreams";
  src: url(../fonts/perky-dream.regular.ttf);
}
@font-face {
  font-family: "supplyBold";
  src: url(../fonts/supply-bold.otf);
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url(../fonts/SpaceGrotesk-light.otf);
  font-weight: 300;
}
@font-face {
  font-family: "SpaceGroteskMedium";
  src: url(../fonts/SpaceGrotesk-Medium.otf);
  font-weight: 400;
}
@font-face {
  font-family: "supplyLight";
  src: url(../fonts/supply-light.otf);
}
@font-face {
  font-family: "supply";
  src: url(../fonts/supply.otf);
}
body {
  font-family: "SpaceGroTesk";
  font-size: 15px;
  color: #414141;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-family: "supplyBold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  font-family: "SpaceGroteskMedium";
  font-size: 14px !important;
  font-weight: 500;
  text-transform: uppercase;
}
a {
  color: #414141;
}
a:hover {
  text-decoration: none;
  color: #414141;
}
.font-mono {
  font-family: "SpaceMono";
}
.font-spt {
  font-family: "SpaceGrotesk";
}
.step {
  /* border: 1px solid; */
  width: 50px !important;
}
.font-13 {
  font-size: 14px !important;
}
.text-tranc-0 {
  text-transform: lowercase;
}
.item {
  text-align: center;
  padding: 10px 30px;
  margin: auto;
  justify-content: center;
  width: 100;
  height: 100vh;
}
.card-body {
  padding-top: 0 !important;
}
.card-header {
  padding-bottom: 0;
}
.divide .screen {
  height: 100%;
}
i.fa.fa-chevron-down,
i.fa.fa-chevron-up {
  font-size: x-small;
}
.what-you-get img.globe {
  width: 38px !important;
}
.owl-nav {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.iti {
  width: 100%;
}
.accord {
}
.text-black {
  color: #333;
}
.text-black:hover,
.text-black:focus {
  color: #333;
  border: none;
}
.btn-link:hover,
.btn-link:focus {
  text-decoration: none;
  box-shadow: none;
}
.card,
.card:last-child .card-header {
  border: none;
}
.custom-button {
  display: inline-block;
  padding: 9px 15px;
  color: #333;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
  background-color: transparent;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #414141;
}
img.globe {
  width: 38px !important;
  height: auto;
}
.bo {
  border: 1px solid #333;
  padding: 9px 12px;
}
.btn-color {
  background-color: #00ffd0;
  border: none;
}
.step {
}
.font-2 {
  font-size: 1.4rem;
}
.font-1 {
  font-size: 1.2rem;
}
.font-3 {
  font-size: 2.3rem;
}
.font-perky {
  font-family: "PerkyDreams";
}
.bottom {
  margin-top: 30%;
}
.font-light {
  font-family: "supplyLight";
}
.sticky-bottom {
  position: fixed;
  height: 50px;

  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 100;
}
.img-width-16 {
  width: 16px !important;
  height: 100%;
}
.mb {
  /* height: 100vh !important; */
  /* overflow-y: hidden; */
  margin-bottom: -60px;
}
.anime-grow-1 {
  animation-duration: 1s;
  animation-name: beep1;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
}
@keyframes beep1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.anime-grow-2 {
  animation-duration: 1s;
  animation-name: beep2;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
}
@keyframes beep2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
.style-none {
  border: none;
  background: none;
}
.modal {
  width: 100%;
  padding-right: 0 !important;
  /* top: 50%; */
  height: 100vh;
  bottom: 0;
  transition: all 1.6s;
  animation: fadeIn .6s ease-in-out;
}
/* .modal-dialog { */
/* bottom: 0;

} */
@keyframe fadeInUp {
  form{bottom: 0px}
  to{bottom: 100%}
} */
